body{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    opacity: 0.9;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTDMYES5iuHteB66-9FbTvpXT09IT0PNKOhZpbu_F7E9YNBTnVF);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
  }
  h1{
  font-family: 'Fruktur', cursive;
  color: black;
  font-size: 50px;
  text-decoration: overline;
  }
  #quiz {
    background: grey;
    padding: 20px 30px 20px 30px;
    width: 600px;
    border-radius: 20px;
  
  }
  input {
    margin-bottom: 20px;
  
  }
  #button {
    background: green;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    transition-duration: .5s;
    margin-top: 15px;
    font-size: 30px;
  }
  #button:hover{
    background: white;
    border: 1px solid green;
    color: black
    color: black;
    cursor: pointer;
  }
  #after_submit{
    visibility: hidden;
    background: #ff5459;
    padding: 10px 20px 10px 20px;
    width: 400px;
    border-radius: 20px;
    font-size: 30px;
    text-align: center;
  }
  #mc {
    display: inline-block;
  }
  #number_count{
    display: none;
  }
  
}